<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LeanIPC" version="0.9.1" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="Mono.Posix.NETStandard" version="1.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net461" />
  <package id="SockRock" version="1.0.3" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.109.2" targetFramework="net461" />
</packages>